streamlit
python-dotenv
requests
Pillow
pydantic

google-genai

easyocr
torch
transformers==4.52.4
accelerate
huggingface_hub==0.32.4

langchain
langchain-core
langchain-community
langchain-huggingface

fastapi
uvicorn
pyngrok
